### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# pd.options.display.float_format = '${:,.2f}'.format

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [2]:
purchase_data.describe()

       Purchase ID         Age     Item ID       Price
count   780.000000  780.000000  780.000000  780.000000
mean    389.500000   22.714103   92.114103    3.050987
std     225.310896    6.659444   52.775943    1.169549
min       0.000000    7.000000    0.000000    1.000000
25%     194.750000   20.000000   48.000000    1.980000
50%     389.500000   22.000000   93.000000    3.150000
75%     584.250000   25.000000  139.000000    4.080000
max     779.000000   45.000000  183.000000    4.990000

## Player Count

* Display the total number of players

In [3]:
unique_players = purchase_data.drop_duplicates(subset='SN', keep='first')
unique_players = unique_players.sort_values('SN')
# PlayerCount = unique_players['SN'].count()

In [4]:
data_copy_2 = purchase_data.copy()
clean_data_copy = data_copy_2.groupby("SN").sum()
unique_copy = unique_players.copy()

del clean_data_copy['Age']
del clean_data_copy['Item ID']
del clean_data_copy['Purchase ID']
del unique_copy['Price']

unique_players_df = pd.merge(unique_copy, clean_data_copy, on="SN")
unique_players_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,467,Adairialis76,16,Male,123,Twilight's Carver,2.28
1,142,Adastirin33,35,Female,175,Woeful Adamantite Claymore,4.48
2,388,Aeda94,17,Male,128,"Blazeguard, Reach of Eternity",4.91
3,28,Aela59,21,Male,119,"Stormbringer, Dark Blade of Ending Misery",4.32
4,630,Aelaria33,23,Male,171,Scalpel,1.79

In [5]:
PlayerCount = unique_players_df['SN'].count()

TotalPlayers = {"Total Players" : [PlayerCount]}
TotalPlayers_df = pd.DataFrame(TotalPlayers, columns=["Total Players"])
TotalPlayers = TotalPlayers_df.groupby(['Total Players'])
TotalPlayers.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [6]:
items_df = purchase_data.drop_duplicates(subset='Item Name', keep='first')
groupby_items = items_df.groupby("Item Name")
number_of_items = items_df['Item Name'].count()

In [7]:
Price = purchase_data['Price']
Average_Price = '${}'.format(round(Price.mean(),2))

In [8]:
Number_of_purchases = purchase_data['Purchase ID'].count()

In [9]:
Revenue_Sum = Price.sum()
Revenue = '${}'.format(round(Revenue_Sum,2))

In [10]:
summary_df = pd.DataFrame({
    "Number of Items": number_of_items,
    "Average Price" : Average_Price,
    "Number of Purchases" : Number_of_purchases,
    "Total_Revenue" : Revenue}, 
    index = [0])

summary_df.style.background_gradient(cmap='viridis')

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [11]:
Unique_Player_Genders = unique_players['Gender']
Gender_counts = Unique_Player_Genders.value_counts()

In [12]:
gender_df = Gender_counts.rename_axis('Gender').reset_index(name='Amount')

In [13]:
M_percent = format((Gender_counts[0] / PlayerCount), ".2%")
F_percent = format((Gender_counts[1] / PlayerCount), ".2%")
O_percent = format((Gender_counts[2] / PlayerCount), ".2%")
percentage = [M_percent, F_percent, O_percent]

In [14]:
gender_df['Percentage of Players'] = percentage

In [15]:
gender_df.style.background_gradient(cmap='viridis')


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [16]:
data_copy_2 = purchase_data.copy()

In [17]:
gender_groupby_full = data_copy_2.groupby(['Gender'])

gender_purchase_count = gender_groupby_full['Gender'].count()
gender_total_value = gender_groupby_full["Price"].sum()
gender_avg_price = round(gender_groupby_full["Price"].mean(),2)

In [18]:
unique_gender_groupby = unique_players_df.groupby('Gender')
avg_total_value = round(unique_gender_groupby['Price'].mean(),2)

In [19]:
gender_summary_table = pd.DataFrame({"Number of Purchases": gender_purchase_count,
                                    "Total Value": gender_total_value,
                                    "Average Price": gender_avg_price,
                                   "Total Value Per Person" : avg_total_value})
gender_summary_table
# gender_summary_table.style.background_gradient(cmap='tab20b')

,Number of Purchases,Total Value,Average Price,Total Value Per Person
Gender,,,,
Female,113,361.94,3.20,4.47
Male,652,1967.64,3.02,4.07
Other / Non-Disclosed,15,50.19,3.35,4.56

In [20]:
# purchase_data_copy = purchase_data.copy()
# male_df = purchase_data_copy.loc[purchase_data_copy["Gender"] == "Male", :]

# unique_male_df = male_df.drop_duplicates(subset='SN', keep='first')

# male_df["Price"] = male_df.loc[:, "Price"].astype(object)
# male_p_count = male_df['Purchase ID'].count()
# male_avg_price = '${}'.format(round(male_df['Price'].mean(),2))
# male_total_value = '${}'.format(round(male_df['Price'].sum(),2))
# male_avg_total_value = '${}'.format(round(male_df['Price'].sum() / unique_male_df['Purchase ID'].count(),2))

# male_data = {
#     male_p_count,
#     male_avg_price,
#     male_total_value,
#     male_avg_total_value
# }
# male_data

In [21]:
# female_df = purchase_data_copy.loc[purchase_data_copy["Gender"] == "Female", :]

# unique_female_df = female_df.drop_duplicates(subset='SN', keep='first')

# female_df["Price"] = female_df.loc[:, "Price"].astype(object)
# female_p_count = female_df['Purchase ID'].count()
# female_avg_price = '${}'.format(round(female_df['Price'].mean(),2))
# female_total_value = '${}'.format(round(female_df['Price'].sum(),2))
# female_avg_total_value = '${}'.format(round(female_df['Price'].sum() / unique_female_df['Purchase ID'].count(),2))

# female_data = {
#     female_p_count,
#     female_avg_price,
#     female_total_value,
#     female_avg_total_value
# }
# female_data

In [22]:
# other_df = purchase_data_copy.loc[purchase_data_copy["Gender"] == "Other / Non-Disclosed", :]

# unique_other_df = other_df.drop_duplicates(subset='SN', keep='first')

# other_df["Price"] = other_df.loc[:, "Price"].astype(object)
# other_p_count = other_df['Purchase ID'].count()
# other_avg_price = '${}'.format(round(other_df['Price'].mean(),2))
# other_total_value = '${}'.format(round(other_df['Price'].sum(),2))
# other_avg_total_value = '${}'.format(round(other_df['Price'].sum() / unique_other_df['Purchase ID'].count(),2))

# other_data = {
#     other_p_count,
#     other_avg_price,
#     other_total_value,
#     other_avg_total_value
# }
# other_data

In [23]:
# gender_purchase_data = [male_data, female_data, other_data]
# gender_purchase_data

In [24]:
# new_df = pd.DataFrame(gender_purchase_data), columns= 'Purchase Count', 'Average Purchase Price', 'Total Purchase Value', 'Average Total Purchase Per Person'

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [25]:
bins = [-1, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [26]:
age_df = unique_players_df.copy()
ages = age_df['Age']

new_df = pd.DataFrame({"Total Count": ages})
new_df["Age Range"] = pd.cut(new_df["Total Count"], bins, labels=group_names)
new_df = new_df.groupby("Age Range")
age_count = new_df.count()
age_count

           Total Count
Age Range
<10                 17
10-14               22
15-19              107
20-24              258
25-29               77
30-34               52
35-39               31
40+                 12

In [34]:
age_percentage = new_df.count()/ PlayerCount * 100
pd.options.display.float_format = '{:,.2f}%'.format

In [35]:
merge_table = pd.merge(age_count, age_percentage, on="Age Range")
merge_table = merge_table.rename(columns= {
    "Total Count_y":"Percentage of Players", "Total Count_x":"Total Count"})
merge_table

           Total Count  Percentage of Players
Age Range
<10                 17                  2.95%
10-14               22                  3.82%
15-19              107                 18.58%
20-24              258                 44.79%
25-29               77                 13.37%
30-34               52                  9.03%
35-39               31                  5.38%
40+                 12                  2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [36]:
pd.options.display.float_format = '${:,.2f}'.format

In [37]:
data_copy_4 = purchase_data.copy()
data_copy_4["Age Range"] = pd.cut(data_copy_4["Age"], bins, labels=group_names)
age_group = data_copy_4.groupby("Age Range")

In [38]:
purchase_count = age_group['Purchase ID'].count()
purchase_count

Age Range
<10       23
10-14     28
15-19    136
20-24    365
25-29    101
30-34     73
35-39     41
40+       13
Name: Purchase ID, dtype: int64

In [54]:
age_avg_price = age_group['Price'].mean()
age_avg_price

Age Range
<10     $3.35
10-14   $2.96
15-19   $3.04
20-24   $3.05
25-29   $2.90
30-34   $2.93
35-39   $3.60
40+     $2.94
Name: Price, dtype: float64

In [41]:
age_total_value = age_group["Price"].sum()
age_total_value

Age Range
<10        $77.13
10-14      $82.78
15-19     $412.89
20-24   $1,114.06
25-29     $293.00
30-34     $214.00
35-39     $147.67
40+        $38.24
Name: Price, dtype: float64

In [52]:
unique_data_copy_4 = unique_players_df.copy()
unique_data_copy_4["Age Range"] = pd.cut(unique_data_copy_4["Age"], bins, labels=group_names)

unique_age_groupby = unique_data_copy_4.groupby('Age Range')
avg_total_value = round(unique_age_groupby['Price'].mean(),2)
avg_total_value

Age Range
<10     $4.54
10-14   $3.76
15-19   $3.86
20-24   $4.32
25-29   $3.81
30-34   $4.12
35-39   $4.76
40+     $3.19
Name: Price, dtype: float64

In [56]:
age_summary_table = pd.DataFrame({"Number of Purchases": purchase_count,
                                    "Total Purchase Value": age_total_value,
                                    "Average Purchase Price": age_avg_price,
                                   "Avg Total Value Per Person" : avg_total_value})
age_summary_table

,Number of Purchases,Total Purchase Value,Average Purchase Price,Avg Total Value Per Person
Age Range,,,,
<10,23,$77.13,$3.35,$4.54
10-14,28,$82.78,$2.96,$3.76
15-19,136,$412.89,$3.04,$3.86
20-24,365,"$1,114.06",$3.05,$4.32
25-29,101,$293.00,$2.90,$3.81
30-34,73,$214.00,$2.93,$4.12
35-39,41,$147.67,$3.60,$4.76
40+,13,$38.24,$2.94,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame