### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

pd.options.display.float_format = '${:,.2f}'.format

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [2]:
unique_players = purchase_data.drop_duplicates(subset='SN', keep='first')
unique_players = unique_players.sort_values('SN')
# PlayerCount = unique_players['SN'].count()

In [3]:
# Create 2nd DataFrame via grouping by SN and the sum of SN
data_copy = purchase_data.copy()
clean_data_copy = data_copy.groupby("SN").sum()
unique_copy = unique_players.copy()

In [4]:
# remove unnecessary columns
del clean_data_copy['Age']
del clean_data_copy['Item ID']
del clean_data_copy['Purchase ID']
del unique_copy['Price']

In [5]:
# Merge Dataframes to create new dataframe without duplicates, 
# all while finding the sum of the purchases grouped by SN.
unique_players_df = pd.merge(unique_copy, clean_data_copy, on="SN")

In [6]:
# Find and return the PlayerCount in the form of a DataFrame
PlayerCount = unique_players_df['SN'].count()

TotalPlayers = {"Total Players" : [PlayerCount]}
TotalPlayers_df = pd.DataFrame(TotalPlayers, columns=["Total Players"])
TotalPlayers = TotalPlayers_df.groupby(['Total Players'])
TotalPlayers.head()

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [7]:
# Create dataframe for items
items_df = purchase_data.drop_duplicates(subset='Item Name', keep='first')
groupby_items = items_df.groupby("Item Name")

In [8]:
number_of_items = items_df['Item Name'].count()

In [9]:
Price = purchase_data['Price']
Average_Price = '${}'.format(round(Price.mean(),2))

In [10]:
Number_of_purchases = purchase_data['Purchase ID'].count()

In [11]:
Revenue_Sum = Price.sum()
Revenue = '${}'.format(round(Revenue_Sum,2))

In [12]:
summary_df = pd.DataFrame({
    "Number of Items": number_of_items,
    "Average Price" : Average_Price,
    "Number of Purchases" : Number_of_purchases,
    "Total_Revenue" : Revenue}, 
    index = [0])

summary_df.style.background_gradient(cmap='viridis')

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [13]:
Unique_Player_Genders = unique_players['Gender']
Gender_counts = Unique_Player_Genders.value_counts()

In [14]:
gender_df = Gender_counts.rename_axis('Gender').reset_index(name='Amount')

In [15]:
# Calculations
M_percent = format((Gender_counts[0] / PlayerCount), ".2%")
F_percent = format((Gender_counts[1] / PlayerCount), ".2%")
O_percent = format((Gender_counts[2] / PlayerCount), ".2%")
percentage = [M_percent, F_percent, O_percent]

In [16]:
gender_df['Percentage of Players'] = percentage

In [17]:
gender_df.style.background_gradient(cmap='viridis')


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [18]:
data_copy_2 = purchase_data.copy()

In [19]:
gender_groupby_full = data_copy_2.groupby(['Gender'])

In [20]:
# Calculations
gender_purchase_count = gender_groupby_full['Gender'].count()
gender_total_value = gender_groupby_full["Price"].sum()
gender_avg_price = round(gender_groupby_full["Price"].mean(),2)

In [21]:
unique_gender_groupby = unique_players_df.groupby('Gender')
avg_total_value = round(unique_gender_groupby['Price'].mean(),2)

In [22]:
gender_summary_table = pd.DataFrame({"Purchase Count": gender_purchase_count,
                                    "Total Value": gender_total_value,
                                    "Average Price": gender_avg_price,
                                   "Total Value Per Person" : avg_total_value})
gender_summary_table

,Purchase Count,Total Value,Average Price,Total Value Per Person
Gender,,,,
Female,113,$361.94,$3.20,$4.47
Male,652,"$1,967.64",$3.02,$4.07
Other / Non-Disclosed,15,$50.19,$3.35,$4.56

In [23]:
# gender_summary_table.style.background_gradient(cmap='tab20b') 
# ^ brings color, but undoes dollar sign formatting

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [24]:
pd.options.display.float_format = '{:,.2f}%'.format

In [25]:
bins = [-1, 9, 14, 19, 24, 29, 34, 39, 100]
group_names = ["<10","10-14","15-19","20-24","25-29","30-34","35-39","40+"]

In [26]:
age_df = unique_players_df.copy()
ages = age_df['Age']

In [27]:
# DataFrame for the Total Count
new_df = pd.DataFrame({"Total Count": ages})
new_df["Age Range"] = pd.cut(new_df["Total Count"], bins, labels=group_names)
new_df = new_df.groupby("Age Range")

In [28]:
all_ages = new_df.count()
all_ages

           Total Count
Age Range
<10                 17
10-14               22
15-19              107
20-24              258
25-29               77
30-34               52
35-39               31
40+                 12

In [29]:
age_percentage = new_df.count()/ PlayerCount * 100

In [30]:
# Merge the Total Count and the Percentage DataFrames
merge_table = pd.merge(all_ages, age_percentage, on="Age Range")
age_table = merge_table.rename(columns= {
    "Total Count_y":"Percentage of Players", "Total Count_x":"Total Count"})
age_table

           Total Count  Percentage of Players
Age Range
<10                 17                  2.95%
10-14               22                  3.82%
15-19              107                 18.58%
20-24              258                 44.79%
25-29               77                 13.37%
30-34               52                  9.03%
35-39               31                  5.38%
40+                 12                  2.08%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [31]:
pd.options.display.float_format = '${:,.2f}'.format

In [32]:
data_copy_4 = purchase_data.copy()
data_copy_4["Age Range"] = pd.cut(data_copy_4["Age"], bins, labels=group_names)
age_group = data_copy_4.groupby("Age Range")

In [33]:
# Calculations
purchase_count = age_group['Purchase ID'].count()
age_avg_price = age_group['Price'].mean()
age_total_value = age_group["Price"].sum()

In [34]:
unique_data_copy_4 = unique_players_df.copy()
unique_data_copy_4["Age Range"] = pd.cut(unique_data_copy_4["Age"], bins, labels=group_names)

In [35]:
#must use unique players to find the avg total value
unique_age_groupby = unique_data_copy_4.groupby('Age Range')
avg_total_value = round(unique_age_groupby['Price'].mean(),2)

In [36]:
age_summary_table = pd.DataFrame({"Purchase Count": purchase_count,
                                    "Total Purchase Value": age_total_value,
                                    "Average Purchase Price": age_avg_price,
                                   "Avg Total Value Per Person" : avg_total_value})
age_summary_table

,Purchase Count,Total Purchase Value,Average Purchase Price,Avg Total Value Per Person
Age Range,,,,
<10,23,$77.13,$3.35,$4.54
10-14,28,$82.78,$2.96,$3.76
15-19,136,$412.89,$3.04,$3.86
20-24,365,"$1,114.06",$3.05,$4.32
25-29,101,$293.00,$2.90,$3.81
30-34,73,$214.00,$2.93,$4.12
35-39,41,$147.67,$3.60,$4.76
40+,13,$38.24,$2.94,$3.19

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [37]:
data_copy_5 = purchase_data.copy()
groupby_SN = data_copy_5.groupby("SN")

In [38]:
# Calculations
SN_Purchase_Count = groupby_SN["Purchase ID"].count()
SN_avg_price = groupby_SN['Price'].mean()
SN_total_value = groupby_SN["Price"].sum()

In [39]:
SN_summary_table = pd.DataFrame({"Purchase Count": SN_Purchase_Count,
                                 "Average Purchase Price": SN_avg_price,
                                    "Total Purchase Value": SN_total_value
                                    })

In [40]:
SN_summary_table = SN_summary_table.sort_values("Total Purchase Value", ascending=False)
SN_summary_table.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                   $3.79                $18.96
Idastidru52               4                   $3.86                $15.45
Chamjask73                3                   $4.61                $13.83
Iral74                    4                   $3.40                $13.62
Iskadarya95               3                   $4.37                $13.10

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [41]:
#create copy of data without needless columns
item_df_copy = purchase_data.copy()
del item_df_copy['Purchase ID']
del item_df_copy['SN']
del item_df_copy['Age']
del item_df_copy['Gender']

In [42]:
#DataFrame for Item Prices
Item_Price = items_df['Price']
Item_Price_df = pd.DataFrame({'Item Price':Item_Price})

In [43]:
item_df_copy = item_df_copy.rename(columns= {
    "Price":"Item Price"})

In [44]:
#Group by Item ID and Item Name
grouped_item_data = item_df_copy.groupby(['Item ID','Item Name'])

In [45]:
# Calculations
purchase_count = grouped_item_data['Item ID'].count()
total_purchase_value = grouped_item_data['Item Price'].sum()

In [46]:
item_summary_table = pd.DataFrame({"Purchase Count": purchase_count,
                                    "Total Purchase Value": total_purchase_value
                                    })

In [47]:
# Merge Item Prices DF with the summary table
merge_table = pd.merge(item_df_copy, item_summary_table, on="Item ID")
item_summary_table = merge_table.drop_duplicates(subset='Item Name', keep='first')

In [48]:
# sort items by Purchase Count
popular_items_table = item_summary_table.sort_values("Purchase Count", ascending=False)
popular_items_table.head()

,Item ID,Item Name,Item Price,Purchase Count,Total Purchase Value
120,178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
0,108,"Extraction, Quickblade Of Trembling Hands",$3.53,9,$31.77
87,82,Nirvana,$4.90,9,$44.10
469,145,Fiery Glass Crusader,$4.58,9,$41.22
635,19,"Pursuit, Cudgel of Necromancy",$1.02,8,$8.16

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [49]:
profitable_items_table = popular_items_table.sort_values("Total Purchase Value", ascending=False)
profitable_items_table.head()

,Item ID,Item Name,Item Price,Purchase Count,Total Purchase Value
120,178,"Oathbreaker, Last Hope of the Breaking Storm",$4.23,12,$50.76
87,82,Nirvana,$4.90,9,$44.10
469,145,Fiery Glass Crusader,$4.58,9,$41.22
15,92,Final Critic,$4.88,8,$39.04
547,103,Singed Scalpel,$4.35,8,$34.80